<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<th:block th:fragment="paginationAdminTool(totalPagesTool, pageTool, totalPagesShipped, pageShipped, totalPagesRequested, pageRequested, baseUrl)" th:if="${totalPagesTool >= 2}">
	<ul class="pagination">
		<!-- 前のページへ -->
		<th:block th:switch="${pageTool}">
			<li th:case="1" class="page-item disabled">
				<a class="page-link" href="">&laquo;</a>
			</li>
			<li th:case="*" class="page-item">
				<a class="page-link" th:href="@{/{baseUrl}(baseUrl=${baseUrl}, pageTool=${pageTool - 1},  pageShipped=${pageShipped}, pageRequested=${pageRequested})}">&laquo;</a>
			</li>
		</th:block>

		<!-- ページ番号 -->
		<th:block th:each="index : ${#numbers.sequence(1, totalPagesTool)}">
			<th:block th:switch="${index}">
				<li th:case="${pageTool}" class="page-item active">
					<a class="page-link" href="">[[${index}]]</a>
				</li>
				<li th:case="*" class="page-item">
					<a class="page-link" th:href="@{/{baseUrl}(baseUrl=${baseUrl}, pageTool=${index}, pageShipped=${pageShipped}, pageRequested=${pageRequested})}">[[${index}]]</a>
				</li>
			</th:block>
		</th:block>

		<!-- 次のページへ -->
		<th:block th:switch="${pageTool}">
			<li th:case="${totalPagesTool}" class="page-item disabled">
				<a class="page-link" href="">&raquo;</a>
			</li>
			<li th:case="*" class="page-item">
				<a class="page-link" th:href="@{/{baseUrl}(baseUrl=${baseUrl}, pageTool=${pageTool + 1}, pageShipped=${pageShipped}, pageRequested=${pageRequested})}">&raquo;</a>
			</li>
		</th:block>
	</ul>
</th:block>

</body>
</html>