<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.ShippingRecordMapper">

	<resultMap id="shipping" type="ShippingRecord" autoMapping="true">
		<id property="id" column="id" />
		<result property="unstockedTools" column="unstocked_tools" />
		<result property="numberOfTools" column="number_of_tools" />
	</resultMap>
	
	<sql id="selectAndJoin">
		SELECT
			shipping_records.id, shipping_records.recipient_name, shipping_records.recipient_post_code, shipping_records.recipient_address, shipping_records.recipient_phone,
			shipping_records.sender_name, shipping_records.sender_post_code, shipping_records.sender_address, shipping_records.sender_phone, shipping_records.shipping_method,
			shipping_records.ship_date, shipping_records.arrival_date, shipping_records.shipping_number, shipping_records.note, shipping_records.employee_id,
			shipping_records.shipping_add_at, shipping_records.shipping_delete_at, shipping_records.shipping_requested_at, shipping_records.shipped_at, shipping_records.returned_at,
			(SELECT COUNT(*) FROM rental_records WHERE rental_records.shipping_id = shipping_records.id AND rental_records.returned_at IS NULL) AS unstocked_tools,
		    (SELECT COUNT(*) FROM rental_records WHERE rental_records.shipping_id = shipping_records.id) AS number_of_tools
		 FROM shipping_records
		 JOIN rental_records
		 ON shipping_records.id = rental_records.shipping_id
	</sql>
	
	<select id="selectAllByEmployeeId" parameterType="int" resultMap="shipping">
		<include refid="selectAndJoin" />
		WHERE shipping_records.employee_id = #{employeeId}
		AND shipping_records.shipping_requested_at IS NOT NULL
		AND shipping_records.returned_at IS NULL
		GROUP BY  shipping_records.id
		ORDER BY shipping_records.shipping_requested_at DESC
	</select>
	
	<select id="selectLimitedByEmployeeId" resultMap="shipping">
		<include refid="selectAndJoin" />
		WHERE shipping_records.employee_id = #{employeeId}
		AND shipping_records.shipping_requested_at IS NOT NULL
		AND shipping_records.returned_at IS NULL
		GROUP BY  shipping_records.id
		ORDER BY shipping_records.shipping_requested_at DESC
		LIMIT #{offset}, #{num}
	</select>
	
	<select id="countShippingActive" parameterType="int" resultType="long">
		SELECT COUNT(*) FROM shipping_records
        WHERE employee_id = #{employeeId}
		AND shipping_requested_at IS NOT NULL
		AND returned_at IS NULL
	</select>
 	
	<select id="selectAllIsShippingRequest" resultMap="shipping">
		<include refid="selectAndJoin" />
		WHERE shipping_records.shipping_requested_at IS NOT NULL
		AND shipping_records.shipped_at IS NULL
		AND shipping_records.returned_at IS NULL
        GROUP BY  shipping_records.id
		ORDER BY shipping_records.shipping_requested_at DESC
	</select>
	
	<select id="selectLimitedIsShippingRequest" resultMap="shipping">
		<include refid="selectAndJoin" />
		WHERE shipping_records.shipping_requested_at IS NOT NULL
		AND shipping_records.shipped_at IS NULL
		AND shipping_records.returned_at IS NULL
        GROUP BY  shipping_records.id
		ORDER BY shipping_records.shipping_requested_at DESC
		LIMIT #{offset}, #{num}
	</select>
	
	<select id="countShippingRequestActive" resultType="long">
		SELECT COUNT(*) FROM shipping_records
		WHERE shipping_requested_at IS NOT NULL
		AND shipped_at IS NULL
		AND returned_at IS NULL
	</select>
		
	<select id="selectAllIsShipped" resultType="ShippingRecord">
		SELECT * FROM shipping_records
		WHERE shipping_requested_at IS NOT NULL
		AND shipped_at IS NOT NULL
		AND returned_at IS NULL
		ORDER BY shipped_at DESC
	</select>

	<select id="selectById" parameterType="int" resultType="ShippingRecord">
		SELECT * FROM shipping_records
		WHERE id = #{id}
	</select>

	<select id="selectByEmployeeId" parameterType="int" resultType="ShippingRecord">
		SELECT * FROM shipping_records
		WHERE employee_id = #{employeeId}
		AND shipping_delete_at IS NULL
		AND shipping_requested_at IS NULL
		AND shipped_at IS NULL
		AND returned_at IS NULL
		ORDER BY id DESC
        LIMIT 0, 1
	</select>

	<update id="setDeleteById" parameterType="int">
		UPDATE shipping_records SET shipping_delete_at = NOW()
		WHERE id = #{id}
	</update>

	<insert id="insert" parameterType="ShippingRecord">
		INSERT INTO shipping_records (recipient_name, recipient_post_code, recipient_address, recipient_phone,
			sender_name, sender_post_code, sender_address, sender_phone,
			shipping_method, ship_date, arrival_date, shipping_number,note,
			employee_id, shipping_add_at)
		VALUES (#{recipientName}, #{recipientPostCode}, #{recipientAddress}, #{recipientPhone},
			#{senderName}, #{senderPostCode}, #{senderAddress}, #{senderPhone},
			#{shippingMethod}, #{shipDate}, #{arrivalDate}, #{shippingNumber}, #{note},
			#{employeeId}, NOW())
	</insert>

	<update id="update" parameterType="ShippingRecord">
		UPDATE shipping_records
		SET recipient_name = #{recipientName}, recipient_post_code = #{recipientPostCode}, recipient_address = #{recipientAddress}, recipient_phone = #{recipientPhone},
			sender_name = #{senderName}, sender_post_code = #{senderPostCode}, sender_address = #{senderAddress}, sender_phone = #{senderPhone},
			shipping_method = #{shippingMethod}, ship_date = #{shipDate}, arrival_date = #{arrivalDate}, shipping_number = #{shippingNumber}, note = #{note}
		WHERE id = #{id}
		AND shipping_requested_at IS NULL
		AND shipped_at IS NULL
		AND returned_at IS NULL
	</update>
	
	<update id="addShippingRequest" parameterType="int">
		UPDATE shipping_records
		SET shipping_requested_at = NOW()
		WHERE id = #{id}
		AND shipping_requested_at IS NULL
		AND shipped_at IS NULL
		AND returned_at IS NULL
	</update>
	
	<update id="addShipped" parameterType="int">
		UPDATE shipping_records
		SET shipped_at = NOW()
		WHERE id = #{id}
		AND shipping_requested_at IS NOT NULL
		AND shipped_at IS NULL
		AND returned_at IS NULL
	</update>
	
	<update id="addReturned" parameterType="int">
		UPDATE shipping_records
		SET returned_at = NOW()
		WHERE id = #{id}
		AND shipping_requested_at IS NOT NULL
		AND shipped_at IS NOT NULL
		AND returned_at IS NULL
	</update>
	
	<select id="countActive" resultType="long">
		SELECT COUNT(*) FROM shipping_records
		WHERE returned_at IS NULL
		AND shipping_requested_at IS NOT NULL
		AND shipped_at IS NOT NULL
	</select>	
	
	<select id="selectLimitedIsShipped" resultMap="shipping">
		<include refid="selectAndJoin" />
		WHERE shipping_records.shipping_requested_at IS NOT NULL
		AND shipping_records.shipped_at IS NOT NULL
		AND shipping_records.returned_at IS NULL
		GROUP BY  shipping_records.id
		ORDER BY shipping_records.shipped_at DESC
		LIMIT #{offset}, #{num}
	</select>

</mapper>
