<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.ToolMapper">

	<resultMap id="tool" type="Tool" autoMapping="true">
		<association property="makerType" javaType="MakerType">
			<id property="id" column="maker_type_id" />
			<result property="name" column="maker_type_name" />
		</association>
	</resultMap>

	<sql id="selectAndJoin">
		SELECT
			tools.id, tools.mgmt_id, tools.name,
			tools.detail_info, tools.created, tools.status,
			tools.maker_type_id, maker_types.name AS maker_type_name,
			tools.reserved_employee_id,
			tools.requested_employee_id,
			tools.shipping_id,
			tools.rental_id
		FROM tools
		JOIN maker_types
		ON tools.maker_type_id = maker_types.id
	</sql>

	<select id="selectAll" resultMap="tool">
		<include refid="selectAndJoin" />
		WHERE tools.status = 'ACT'
		ORDER BY tools.mgmt_id
	</select>

	<select id="selectById" parameterType="int" resultMap="tool">
		<include refid="selectAndJoin" />
		WHERE tools.id = #{id}
	</select>

	<select id="selectByMgmtId" parameterType="string" resultMap="tool">
		<include refid="selectAndJoin" />
		WHERE tools.mgmt_id = #{mgmtId}
	</select>

	<update id="setDeleteById" parameterType="int">
		UPDATE tools SET status = 'DEL'
		WHERE id = #{id}
	</update>

	<insert id="insert" parameterType="Tool" useGeneratedKeys="true">
		INSERT INTO tools (mgmt_id, name, detail_info, maker_type_id, created)
		VALUES (#{mgmtId}, #{name}, #{detailInfo}, #{makerType.id}, NOW())
	</insert>

	<update id="update" parameterType="Tool">
		UPDATE tools
		SET mgmt_id = #{mgmtId}, name = #{name}, detail_info = #{detailInfo},
			maker_type_id = #{makerType.id}
		WHERE id = #{id}
	</update>

	<select id="selectLimited" resultMap="tool">
		<include refid="selectAndJoin" />
		WHERE tools.status = 'ACT'
		ORDER BY tools.mgmt_id
		LIMIT #{offset}, #{num}
	</select>

	<select id="countActive" resultType="long">
		SELECT COUNT(*) FROM tools
		WHERE status = 'ACT'
	</select>
	
	<select id="selectReservedByEmployeeId" parameterType="int" resultMap="tool">
    	<include refid="selectAndJoin" />
		WHERE tools.reserved_employee_id = #{employeeId}
		ORDER BY tools.id ASC
	</select>
	
	<select id="selectBorrowingByShippingId" parameterType="int" resultMap="tool">
    	<include refid="selectAndJoin" />
		LEFT JOIN rental_records
		ON tools.rental_id = rental_records.id
		WHERE tools.shipping_id = #{shippingId}
		ORDER BY rental_records.borrowed_at
	</select>

	<select id="selectBorrowableWithOffset" resultMap="tool">
		<include refid="selectAndJoin" />
		WHERE tools.status = 'ACT'
		AND tools.reserved_employee_id IS NULL
		AND tools.rental_id IS NULL
		ORDER BY tools.mgmt_id
		LIMIT #{offset}, #{num}
	</select>

	<select id="countBorrowable" resultType="long">
		SELECT COUNT(*) FROM tools
		WHERE status = 'ACT'
		AND reserved_employee_id IS NULL
		AND rental_id IS NULL
	</select>
	
	<update id="editReserved">
		UPDATE tools
		SET reserved_employee_id = #{employeeId}
		WHERE id = #{id}
	</update>
	
	<update id="editCanceled">
		UPDATE tools
		SET reserved_employee_id = null
		WHERE id = #{id}
	</update>

	<update id="addBorrowingRequestRecord">
		UPDATE tools
		SET reserved_employee_id = null, requested_employee_id = #{employeeId},
			shipping_id = #{shippingId}, rental_id = #{rentalId}
		WHERE id = #{id}
	</update>

	<update id="addReturnedRecord" parameterType="int">
		UPDATE tools
		SET requested_employee_id = NULL, shipping_id = NULL, rental_id = NULL
		WHERE shipping_id = #{shippingId}
	</update>
	
	<update id="addOnlyOneReturnedRecord" parameterType="int">
		UPDATE tools
		SET requested_employee_id = NULL, shipping_id = NULL, rental_id = NULL
		WHERE id = #{toolId}
	</update>
	
</mapper>
