@charset "UTF-8";

.error-message {
  color: #f00;
  font-size: 0.9rem;
}

/* ログインフォーム */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.titleLogo img {
  max-width: 400px;
  margin-bottom: 10px;
}

/* 工具の追加・編集 */
label.detailInfo {
    display: block;
}

/* 工具入出庫依頼 */
.shippingInfo {
	border: 1px solid rgb(192, 192, 192);
	padding: 5px;
	margin-bottom: 5px;
}

.rentalRequest {
	margin-bottom: 5px;
}

.shippingInfoTable {
	margin-top: 5px;
	margin-bottom: 0;
}
