<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/parts/common :: employee_html_head()}"></head>
<body>
  <header th:replace="~{admin/parts/common :: employee_header()}"></header>
  
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-12">
        <div th:if="${message != null}" class="alert alert-success">[[${message}]]</div>
      
		        <h2 class="h4">出庫中の工具</h2>
		        <div th:if="${#lists.size(borrowingList) < 1}" class="alert alert-primary">出庫中の工具はありません</div>
		        <table th:if="${#lists.size(borrowingList) >= 1}" class="table table-bordered">
		          <thead>
		            <tr>
					  <th>管理番号</th>
		              <th>品名</th>
		              <th>詳細情報</th>
		              <th>メーカー</th>
		              <th>入庫依頼</th>
		            </tr>
		          </thead>
		          <tbody>
		            <tr th:each="tool : ${borrowingList}">
					  <td>[[${tool.mgmtId}]]</td>
		              <td>[[${tool.name}]]</td>
		              <td>[[${tool.detailInfo}]]</td>
		              <td>[[${tool.makerType.name}]]</td>
		              <td><a th:href="@{/rental/return/{id}(id=${tool.id})}" class="btn btn-danger btn-sm">入庫依頼</a></td>
		            </tr>
		          </tbody>
		        </table>
		
		<h2 class="h4">予約済の工具</h2>
		<div th:if="${#lists.size(reservedList) < 1}" class="alert alert-primary">予約済の工具はありません</div>
		<div class="shippingInfo" th:if="${#lists.size(reservedList) >= 1}">
			<div th:if="${shippingRecord == null}">
				「発送情報の入力」ボタンより、発送情報の入力をしてください
				<a th:href="@{/shipping/add}" class="btn btn-primary">発送情報の入力</a>
			</div>
			<div th:if="${shippingRecord != null}">
				<div th:object="${shippingRecord}">
					<p>発送情報の詳細は、下記、発送番号のリンクより確認の程、お願いいたします</p>
					<p>確定の場合、「出庫依頼」ボタンを押して工具管理センターへ連絡してください(TEL：012-345-678)　
						<a th:href="@{/rental/request/{id}(id=*{id})}" class="btn btn-primary">出庫依頼</a>
					</p>
					<table class="table table-bordered shippingInfoTable">
					  <thead>
					    <tr>
						  <th>発送番号</th>
					      <th>受取人の氏名</th>
					      <th>受取人の住所</th>
					      <th>発送希望日</th>
						  <th>到着希望日</th>
					      <th>編集</th>
						  <th>削除</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
						  <td><a th:href="@{/shipping/show/{id}(id=*{id})}">[[*{id}]]</a></td>
					      <td>[[*{recipientName}]]</td>
					      <td>[[*{recipientAddress}]]</td>
					      <td>[[*{shipDate}]]</td>
						  <td>[[*{arrivalDate}]]</td>
						  <td><a th:href="@{/shipping/edit/{id}(id=*{id})}" class="btn btn-warning btn-sm">編集</a></td>
					      <td><a th:href="@{/shipping/delete/{id}(id=*{id})}" class="btn btn-danger btn-sm delete">削除</a></td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>
			<table class="table table-bordered shippingInfoTable">
			  <thead>
			    <tr>
				  <th>管理番号</th>
			      <th>品名</th>
			      <th>詳細情報</th>
			      <th>メーカー</th>
			      <th>入庫依頼</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="tool : ${reservedList}">
				  <td>[[${tool.mgmtId}]]</td>
			      <td>[[${tool.name}]]</td>
			      <td>[[${tool.detailInfo}]]</td>
			      <td>[[${tool.makerType.name}]]</td>
			      <td><a th:href="@{/rental/cancel/{id}(id=${tool.id})}" class="btn btn-danger btn-sm">キャンセル</a></td>
			    </tr>
			  </tbody>
			</table>
		</div>
  
        <h2 class="h4 mt-5">出庫可能な工具</h2>
        <div th:if="${#lists.size(toolList) < 1}" class="alert alert-danger">出庫可能な工具はありません</div>
        <table th:if="${#lists.size(toolList) >= 1}"  class="table table-bordered">
          <thead>
            <tr>
              <th>管理番号</th>
              <th>品名</th>
              <th>詳細情報</th>
              <th>メーカー</th>
              <th>出庫依頼</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="tool : ${toolList}">
              <td>[[${tool.mgmtId}]]</td>
              <td>[[${tool.name}]]</td>
              <td>[[${tool.detailInfo}]]</td>
              <td>[[${tool.makerType.name}]]</td>
              <td><a th:href="@{/rental/reserve/{id}(id=${tool.id})}" class="btn btn-success btn-sm">予約</a></td>
            </tr>
          </tbody>
        </table>
  
        <div th:replace="~{widget/pagination :: pagination(${totalPages}, ${currentPage}, 'rental')}"></div>
      </div><!-- /.col- -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <th:block th:replace="~{admin/parts/common :: javascripts()}"></th:block>
</body>
</html>